body {
    margin: 0;; /*Other color: 7C93C3*/
    font-family: 'Roboto', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
}

#loginBody {
    background-image: url('../images/login_bg.jpg');
    background-size: cover;
}

.textInput {
    display: block;
}

.logIn {
    width: 200px;
    height: auto;
    margin-top: 110px;
    margin-left: 300px;
    background-color: #FFFBF5;
    border-radius: 10px;
    color: black;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
}

.logInMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    position: relative;
}

.logInInput {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 25px;
    position: relative;
    height: 60%;
}

.logInInput > input {
    border-radius: 5px;
    border: 0;
    background-color: #e9e9e9;
}

.logInInput > button{
    border: 0;
    border-radius: 5px;
    color: #eaecef;
    background-color: #DA0C81;
    margin-bottom: 5px;
}

.logInInput > button:active {
    background-color: #940B92;
}
