body {
    margin: 0;; /*Other color: 7C93C3*/
    font-family: 'Roboto', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
}

#loginBody {
    background-image: url('../images/login_bg.jpg');
    background-size: cover;
}

.textInput {
    display: block;
}

.logIn {
    width: 200px;
    height: auto;
    margin-top: 110px;
    margin-left: 300px;
    background-color: #FFFBF5;
    border-radius: 10px;
    color: black;
    box-shadow: 5px 5px 5px rgb(184, 184, 184);
}

.logInMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    position: relative;
}

.logInInput {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 25px;
    position: relative;
    height: 60%;
}

.logInInput > input {
    border-radius: 5px;
    border: 0;
    background-color: #e9e9e9;
}

.logInInput > button{
    border: 0;
    border-radius: 5px;
    color: #eaecef;
    background-color: #DA0C81;
    margin-bottom: 5px;
}

.logInInput > button:active {
    background-color: #940B92;
}

#indexhtml {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

#menuBar {
    background-color: #F05941;
}

#menuList{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#btnList {
    width: 100%;
    background-color: #F05941;
}

.menuBtn {
    margin-left: 2.5%;
    padding: 0;
    background-color: #F05941;
    height: 50px;
    width: 95%;
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: bold;
    text-align: left;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-color: #ffe0f3;
}

.menuBtn:hover {
    background-color: #f2715e;
}

#content {
    background-color: #F3EEEA;
}

.menuBtn:active {
    background-color: #efa296;
}

.u_name {
    color: rgb(255, 252, 251);
}

#em_t {
    text-align: center;
}

#e_message {
    height: 75px;
}

#e_info {
    display: grid;
    height: 500px;
    row-gap: 30px;
    column-gap: 10px;
    grid-template-rows: repeat(10,1fr);
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 0 10px 0 10px;
}

#id_val {
    grid-row: 2;
}

#uname_val {
    grid-row: 4;
}

#addr_val {
    grid-row: 6;
}

#tel_val {
    grid-row: 8;
}

.em_buttons {
    grid-row: 10;
}

#l_table {
    display: grid;
    margin: 2px 0 0 0;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
}

#list_body {
    padding: 0;
    background-color: #BBAB8C;
}

.telement {
    background-color: #FDF7E4;
    margin: 0;
}

.thead {
    grid-row: 1 / span 1;
}

.tid {
    grid-column: 1;
}

.tname {
    grid-column: 2;
}

.tu_name {
    grid-column: 3;
}

.trole {
    grid-column: 4;
}

.tbutton {
    grid-column: 5;
}

#c_message {
    height: 75px;
}

#c_info {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 10px;
    row-gap: 48px;
    margin: 0 10px 0 10px;
}

#client_id_val {
   grid-row: 2;
}

#client_phone_val {
    grid-row: 4;
}

#client_cdate_val {
    grid-row: 6;
}

#pet_id_val {
    grid-row: 2;
}

#pet_name_val {
    grid-row: 4;
}

#pet_weight_val {
    grid-row: 6;
}

#pet_udate_val {
    grid-row: 8;
}

#info_venta {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#id_venta_val {
    grid-column: 1;
}

#venta_date_label {
    grid-column: 2;
    grid-row: 1;
}

#client_label {
    grid-column: 3;
    grid-row: 1;
}

#em_label {
    grid-column: 3;
    grid-row: 1;
}

#venta_date_val {
    height: 10px;
}

#venta_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    grid-column: span 4;
}

.client_in_class .em_in_class {
    display: inline;
}


#list_and_add {
    background-color: #BE3144;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 5px;
}

#product_id {
    grid-column: 1;
}

#product_qty {
    grid-column: 2;
}

#search_product_button {
    grid-column: 4;
    height: 30px;
    margin-top: 8%;
    width: 50%;
}

#add_product_button {
    grid-column: 3;
    height: 30px;
    margin-top: 8%;
    width: 50%;
}

#product_add > p {
    margin: 10px 0 0 0;
}

.add_label {
    color: white;
}

.add_val {
    margin: 0 0 5px 0;
}

.product_table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #22092C;
    gap: 2px;
    padding: 2px;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
}

.product_thead {
    background-color: #872341;
    color: white;
    margin: 0;
    height: fit-content;
}

#sale_IVA_total {
    padding: 5px 0 0 10px;
}

#venta_save_clean_button {
    margin: 3% 0 0 0;
    display: flex;
    justify-content: space-evenly;
}

#venta_save_clean_button > button {
    width: 25%;
}

#search_em_button {
    width: 75%;
    grid-column: 4 / span 2;
}

#compra_info {
    display: flex;
    justify-content: space-evenly;
}

#detalle_compra_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #BE3144;
    padding: 5px;
}

#search_producto {
    grid-column:span 2;
    width: 50%;
    height: 25px;
    margin: 4.5% 0 0 25%;
}

.detalle_compra_labels {
    color: white;
}

.thead_compra {
    background-color: #872341;
    color: white;
    margin: 0;
    height: fit-content;
}
